.App {
  text-align: center;
}

.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsla(120, 100%, 25%, .6);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}