.App {
  text-align: center;
}

.bottom-nav {
  position: fixed;
  bottom: 20px;

  left: 100%;
  transform: translateX(-100%);

  z-index: 1000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsla(120, 100%, 25%, .6);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.addParkButton {
  position: fixed;
  bottom: 20px;
  left: 100%;
  transform: translateX(-100%);
  z-index: 1000;
  width: 1275px
}

@media (max-width: 400px) {
  .addParkButton {
    width: 125px;
}}

@media (max-width: 900px) {
  .addParkButton {
    width: 325px;
}}
